.login-form{
    width: 500px;
    margin: 200px auto 0;
}

.login-form .captcha-img{
    cursor: pointer;
}

/*admin*/
.header{
    background-color: #000;
}

/*sidebar style*/
.sidebar-panel{}

.sidebar-panel .btn-add-project{
    margin: 10px;
}

.sidebar-panel .nav{
    padding: 10px;
}

.sidebar-panel .menu{
    border-bottom: 1px solid #ccc;
}

.sidebar-panel .no-border{
    border: none;
}
